<div id="<%= dom_id program %>">
  <p >
    <div style="padding-top: 20px;margin-left: 10px">
      <strong>标题:</strong>
      <%= program.title %>
    </div>
  </p>

  <p style="margin-left: 10px">
    <strong>简介:</strong>
    <%= program.info %>
  </p>

</div>
