<p style="color: green"><%= notice %></p>
<h1>项目列表</h1>
<%= form_tag('/search', :method => "get") do %>
  <input type="text" name="keyword">
  <input type="submit" value="搜索">
<% end %>
<div>
  <% @programs.each do |program| %>
    <div style="background: #EFEFEF;border-radius: 5px">
    <%= render program %>
    <div style="margin-left: 10px;padding-bottom: 10px">
      <p>
        <%= link_to "项目详情", program %>
      </p>
    </div>
    </div>
  <% end %>
</div>


